.jumbotron {
    margin-top: 80px;
    max-width: 1000px;
}

#color {
    color: #34495e;
    text-align: center;
}

#color p {
    font-weight: bold;
    font-size: 12pt;
}

img {
    height: 100px;
}

.col-sm-4 {
    width: 333px;
    padding: 10px;
    border: 1px solid gray;
    margin: 4px;
    background-color: #ecf0f1;
    float: left;
}

h3 {
    text-align: center;
    font-size: 30pt;
}

body {
    float: center;
    font-family: monospace;
}

ol {
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-xs-12 {
    padding: 40px;
    border: 1px solid gray;
    max-width: 1000px;
    background-color: #ecf0f1;
    margin-top: 4px;
}

.col-md-6 {
    padding: 40px;
    border: 1px solid gray;
    max-width: 480px;
    background-color: #ecf0f1;
    margin-top: 4px;
    margin-right: 4px;
}
