.jumbotron {
    margin-top: 80px;
    max-width: 1000px;
}

#color {
    color: #34495e;
    text-align: center;
}

#color p {
    font-weight: bold;
    font-size: 12pt;
}

img {
    height: 100px;
}

.col-sm-4 {
    width: 305px;
    padding: 40px;
    border: 3px solid gray;
    margin: 5px;
    background-color: #ecf0f1;
    float: left;
}

h3 {
    text-align: center;
    font-size: 30pt;
}

body {
    float: center;
    font-family: monospace;
}

ol {
    padding-top: 10px;
    padding-bottom: 10px;
}
