html {
  overflow-y: scroll;
}

body {
    font-family: monospace;
    text-align: center;
}

#top {
    padding-top: 75px;
}

#color {
    text-align: center;
}

#color p {
    font-weight: bold;
    font-size: 12pt;
}

img {
    height: 100px;
}

.contact img {
    height: 200px;
    width: 80px;
}

h1 {
    font-size: 40pt;
}

h3 {
    text-align: center;
    font-size: 30pt;
}

.col-sm-4 {
    padding: 10px;
    border: 1px solid gray;
    background-color: #ecf0f1;
    height: 350px
}

.col-xs-12 {
    padding: 30px;
    border: 1px solid gray;
    background-color: #ecf0f1;
}

.col-sm-6 {
    padding: 40px;
    border: 1px solid gray;
    background-color: #ecf0f1;
    height: 350px;
}

.contact p {
    font-size: 15pt;
    text-align: center;
}

.contact ul {
    text-align: center;
    list-style: none;
}
